<body>
	<p>
		<img src="/assets/pendaftaran-skripsi-icon.png" style="width:11%;margin:5px;float:left;">Tatang sutarma<br><font color="gray">Online</font>
	</p>
	<div class="container">
	  <p>Disana sedang musim apa?</p>
	  <span class="time-right">11:00</span>
	</div>

	<div class="container darker">
	  <p>musim kawin mas</p>
	  <span class="time-left">11:01</span>
	</div>

	<div class="container">
	  <p>ohh begitu, kapan kamu lulus kuliah?</p>
	  <span class="time-right">11:02</span>
	</div>

	<div class="container darker">
	  <p>sekitar kurang lebih 2 tahun lagi mas</p>
	  <span class="time-left">11:05</span>
	</div>

	<div>
	  	<form action="/action_page.php">
	    	<input type="text" id="fname" name="firstname" placeholder="Ketik pesan">
		</form>
	</div>
</body>

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Chatting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	
</ion-content>
 -->