<ion-content>
	<div class="background">
		<div class="texttengah">
			<ion-header >	
				<ion-toolbar color="primary">
					<ion-title><h3 style="color:#fff;font-weight: bold;">Materi</h3></ion-title>
				</ion-toolbar>
			</ion-header>
		</div>		
		<ion-list>
			<ion-item>
				<ion-avatar slot="start">
					<img src="assets/dosen/anggra.jpg">
				</ion-avatar>
					<p>Anggra Triawan, M.Kom
						<br>
						<font color="gray">Programming</font>
						<br>
						<ion-button expand="full" (click)="openProgramming()">Click untuk lihat materi</ion-button>
					</p>
			</ion-item>
			<ion-item>
				<ion-avatar slot="start">
					<img src="assets/dosen/adiat.jpg">
				</ion-avatar>
					<p>Adiat Pariddudin, M.Kom
						<br>
							<font color="gray">Jaringan</font>
						<br>
						<ion-button expand="full" (click)="openJaringan()">Click untuk lihat materi</ion-button>
					</p>
			</ion-item>
			<ion-item>
				<ion-avatar slot="start">
					<img src="assets/dosen/rajib.jpg">
				</ion-avatar>
					<p>Rajib Ghaniy, M.Kom
						<br>
							<font color="gray">Analis</font>
						<br>
						<ion-button expand="full" (click)="openAnalis()">Click untuk lihat materi</ion-button>
					</p>
			</ion-item>
			<ion-item>
				<ion-avatar slot="start">
					<img src="assets/dosen/irma.jpg">
				</ion-avatar>
				<p>Irmayansyah, M.Kom
					<br>
						<font color="gray">IS Design and Management</font>
					<br>
					<ion-button expand="full" (click)="openIsad()">Click untuk lihat materi</ion-button>
				</p>
			</ion-item>
			<ion-item>
				<ion-avatar slot="start">
					<img src="assets/dosen/novi.jpg">
				</ion-avatar>
				<p>Novi Nurrohmatunnisa, S.E.
					<br>
						<font color="gray">Kepala BAUM</font>
					<br>
					<ion-button expand="full" (click)="openBaum()">Click untuk lihat materi</ion-button>
				</p>
			</ion-item>
		</ion-list>
	</div>
</ion-content>
