<ion-content>
  <div class="background">
    <div class="texttengah">
      <ion-header>
        <ion-toolbar color="primary">
        <ion-title><h3 style="color:#fff;font-weight: bold;">STIKOM <span style="color:#e98436;">BINANIAGA</span></h3></ion-title>
        </ion-toolbar>
      </ion-header>

      <h6 style="color:#e98436;">change, continuous quality improvement, de'bottlenecking, enhancement......do it!
      </h6>
      
      <img src="/assets/09-58-10-c09ba00739bfbb3d0018cf44efc79145.png" alt="Avatar" class="avatar">
      
      <br>
      <a href="https://id-id.facebook.com/keluarga.stikombinaniaga"><img src="/assets/icon/facebook.png" class="sosmed"></a>
      <a href="https://www.instagram.com/stikombinaniagabogor/"><img src="/assets/icon/instagram.png" class="sosmed"></a>
      <a href="#"><img src="/assets/icon/twitter.png" class="sosmed"></a>
      <br>
      <br>
      <button class="button buttonexecutive">Executive</button>
      <button class="button buttonlearning">E-Learning</button>
      <button class="button buttonlibrary">Library</button>
      <button class="button buttonalumni">Alumni</button>
    </div>
  </div>
</ion-content>

<!--   <ion-card>
    <ion-card-header>
      <ion-card-title>Phone   +62 834234234</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Alamat</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Jl. Raya Wangun, Bogor Timur, RT.01/RW.06, Sindangsari, Kec. Bogor Tim., Kota Bogor, Jawa Barat 16146
    </ion-card-content>
  </ion-card>
</ion-content> -->
