<div class="texttengah">
	<ion-header >
		<ion-toolbar color="primary">
			<ion-title><h3 style="color:#fff;font-weight: bold;">Kalender Kegiatan</h3></ion-title>
		</ion-toolbar>
	</ion-header>
</div>
<ion-content>
	<div style="padding:5px;">
		<p>
				<button class="button tanggal">17 Agustus 2019</button>
			<br>
				Lomba antar fakultas
		</p>
		<p>
				<button class="button tanggal">18 Agustus 2019</button>
			<br>
				Ulangan tengah semester
		</p>
		<p>
				<button class="button tanggal">20 Agustus 2019</button>
			<br>
				Sertifikasi
		</p>
		<p>
				<button class="button tanggal">10 November 2019</button>
			<br>
				Memperingati hari pahlawan
		</p>
		<p>
				<button class="button tanggal">13 Januari 2019</button>
			<br>
				Minggu tenang
		</p>
		<p>
				<button class="button tanggal">20 Januari 2019</button>
			<br>
				Ulangan akhir semester
		</p>
	</div>
		<!-- <ion-list>
		<ion-item>
			
		  	<ion-label>Mathematics 1</ion-label>
		  <ion-datetime displayFormat="D MMM YYYY H:mm"  min="1997" max="2010" value="2019-09-01T12:06Z"></ion-datetime>
		</ion-item>
		<ion-item>
		  <ion-label>Mathematics 2</ion-label>
		  <ion-datetime displayFormat="D MMM YYYY H:mm" disabled min="1997" max="2010" value="2019-09-05T14:06Z"></ion-datetime>
		</ion-item>
		<ion-item>
		  <ion-label>Algorithms</ion-label>
		  <ion-datetime displayFormat="D MMM YYYY H:mm" disabled min="1997" max="2010" value="2019-09-13T16:06Z"></ion-datetime>
		</ion-item>
		<ion-item>
		  <ion-label>Programming Fundamentals</ion-label>
		  <ion-datetime displayFormat="D MMM YYYY H:mm" disabled min="1997" max="2010" value="2019-09-15T19:06Z"></ion-datetime>
		</ion-item>
		<ion-item>
		  <ion-label>Statustucs and Probability</ion-label>
		  <ion-datetime displayFormat="D MMM YYYY H:mm" disabled min="1997" max="2010" value="2019-09-17T09:06Z"></ion-datetime>
		</ion-item>
		<ion-item>
		  <ion-label>Advanced Algorithms</ion-label>
		  <ion-datetime displayFormat="D MMM YYYY H:mm" disabled min="1997" max="2010" value="2019-09-19T09:06Z"></ion-datetime>
		</ion-item>
		<ion-item>
		  <ion-label>IT Infrastructure</ion-label>
		  <ion-datetime displayFormat="D MMM YYYY H:mm" disabled min="1997" max="2010" value="2019-09-25T09:06Z"></ion-datetime>
		</ion-item>
		<ion-item>
		  <ion-label>Computer Application</ion-label>
		  <ion-datetime displayFormat="D MMM YYYY H:mm" disabled min="1997" max="2010" value="2019-09-30T14:06Z"></ion-datetime>
		</ion-item>
		<ion-item>
		  <ion-label>Database Design</ion-label>
		  <ion-datetime displayFormat="D MMM YYYY H:mm" disabled min="1997" max="2010" value="2019-10-01T14:06Z"></ion-datetime>
		</ion-item>
	</ion-list> -->
</ion-content>


<!-- <ion-content>
	<ion-card>
		<ion-item>
		  <ion-label position="floating">Username</ion-label>
		  <ion-textarea></ion-textarea>
		</ion-item>
		<ion-item>
		  <ion-label position="floating">Password</ion-label>
		  <ion-textarea></ion-textarea>
		</ion-item>
		<ion-button expand="full">Login</ion-button>
	</ion-card>
</ion-content> -->
