<ion-content>
  <div class="background">
    <div class="texttengah">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Jaringan</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
    
    <img src="../../../assets/jaringan.jpg">
      <div class="isi">
          Jaringan komputer (jaringan) adalah jaringan telekomunikasi yang memungkinkan antar 
          komputer untuk saling berkomunikasi dengan bertukar data. Tujuan dari jaringan komputer
          adalah agar dapat mencapai tujuannya, setiap bagian dari jaringan komputer dapat 
          meminta dan memberikan layanan (service).
      <br>
      <br>
          Pihak yang meminta/menerima layanan disebut klien (client) dan yang memberikan/mengirim
          layanan disebut peladen (server). Desain ini disebut dengan sistem client-server, 
          dan digunakan pada hampir seluruh aplikasi jaringan komputer. 
      </div>
  </div>
</ion-content>

<div class="texttengah">
  <ion-footer>
    <ion-toolbar color="primary">
      <ion-button extend="full" fill="clear" color="light" (click)="closeModal()">
        Close
      </ion-button>
    </ion-toolbar> 
  </ion-footer>
</div>